{#
/**
 * @file
 * Default theme implementation
 *
 * Available variables:
 *
 * @see template_preprocess_ipu_map()
 *
 * @ingroup themeable
 */
#}
<div class="ipu-map-parline-data">
    <h2>Data points:</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <p>{{  description }}</p>
            </div>
            {% if current_women_percent is not same as(null) %}
            <div class="col-md-3">
                <div class="card">
                    <div class="term-icon term-icon-88 card-header">
                        <span class="data-point-title">Women in Parliament</span>
                    </div>
                    <div class="card-body stats">
                        <div class="d-flex">
                            <div style="width: {{ current_women_percent }}%" class="stats-item stats-women"></div>
                            <div style="width: {{ 100 - current_women_percent }}%" class="stats-item stats-men"></div>
                        </div>
                        
                        <strong>{{ current_women_percent }}%</strong> are women
                        <a href="/our-work/gender-equality">Our work on Gender</a>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if total_younger_45_percentage is not same as(null) %}
            <div class="col-md-3">
                <div class="card">
                    <div class="term-icon term-icon-117 card-header">
                        <span class="data-point-title">Youth Participation</span>
                    </div>
                    <div class="card-body stats">
                        <div class="d-flex">
                            <div style="width: {{ total_younger_45_percentage }}%" class="stats-item stats-women"></div>
                            <div style="width: {{ 100 - total_younger_45_percentage }}%" class="stats-item stats-men"></div>
                        </div>
                        <div><strong>{{ total_younger_45_percentage }}% </strong> of MPs are under 45</div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if human_rights_cases is not same as(null) %}
            <div class="col-md-3">
                <div class="card">
                    <div class="term-icon term-icon-82 card-header">
                        <span class="data-point-title">Human Rights</span>
                    </div>
                    <div class="card-body stats">
                        <div class="d-flex">
                            <div><div class="stats-circle">{{ human_rights_cases }}</div></div>
                            <div class="stats-content">
                                <div><strong>{{ human_rights_cases }} </strong> current cases</div>
                                <a href="#">Our work on Human Rights of MPs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {#% endfor %#}
    </div>
</div>
